*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
}

nav img{
  height: 120px;
  /* width: 20px; */
}
#center-bg{
border-top-left-radius: 1000px;
border-top-right-radius: 1000px;
background-image: url(https://imgs.search.brave.com/wUvmXRJ6f-MVZ4xLglJG_QkFfWf2b9pE_RkRdYJrIyA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9wcmV2/aWV3LnJlZGQuaXQv/dmludGFnZS1jb2Nh/LWNvbGEtbmVvbi12/MC10OXB5c3JqcHI4/a2ExLmpwZz93aWR0/aD02NDAmY3JvcD1z/bWFydCZhdXRvPXdl/YnAmcz0wM2ExMWQz/MDE3MmFkZTVhZWQz/YmY0ZmFjMDRlNDJj/OTRmZDhkNGVm);
background-size: 200%;
background-position: 50% 50% ;
filter: blur(2px);
}
#part2 img{
  height: 82%;
  position: absolute;
  left:39%;
}
#part3{
  position: relative;
}
#content{
  position: absolute;
  top:35%;
  left:20%;
}
.conp1{
  border-bottom: 2px solid white;
}
@media (max-width:500px) {
  main{
    height: 150vh !important;
    width: 100% !important;
    background-color: red;
    padding: 3vw 0;
  }
  nav{
    height: 8vh !important;
    width: 100%;
    /* margin-bottom: 4vh; */
  }
  nav #navp1 i, nav #navp3 i{
    font-size: 30px !important;
  }
   nav #navp2 ,nav #menu{
display: none;
  }
  #sec1{
    height: auto !important;
    width: 100% !important;
    flex-direction: column;
  }
  #sec1 #part1, #sec1 #part2, #sec1 #part3{
    width: 100% !important;
    height: auto !important;
  }
  #sec1 #part2{
    margin-top: 3vh;
    position: relative;
  }
   #sec1 #part1{
   height: auto !important;
   width: auto !important;
   gap: 6vw;
   padding: 2vh 4.5vh;
   }
  #sec1 #part1 h2{
font-size:12.5vw;
  }
   #sec1 #part1 span{
font-size:12.5vw;
  }
  #sec1 #part1 p{
    font-size: 4.5vw;
    line-height: 1.4;
  }
  #sec1 #part1 button{
    font-size:18px;
    padding: 15px 25px;
  }
  #part2 img{
  height: 125%;
  position: absolute;
  left:0;
  object-fit: cover;
  z-index: 2;
}
#part2 #center-bg{
  height: 55vh !important;
  width: 85% !important;
  position: relative;
  z-index: 1;
}
#part3 {
  position: relative;
  margin-top: 8vh;
}
#content{
position: absolute;
left:10%;
}
#content h4,i{
  font-size: 20px;
}
#content p{
  font-size: 15px;
}

}